<style>
    #footer{
        background-image:url("/images/footer.png");
        color: white;
        margin-bottom: 0;
        background-repeat:no-repeat;
        background-size: cover;
        border: 2px solid black;
    }
</style>
<div>
<div id="footer" class="footer container">
    <h5 class="container">SAM's Bakeology</h5>
    <h5 class="container">~Email: samsbakeology@gmail.com</h5>
    <h5 class="container">~Mon-Sun: 9:00 am - 11 pm</h5>
    <h5 class="container">~Useful information:</h5>
    <div><a style="color:#696969; display: inline-block" href="/contact"><h6 class="container">FAQ's</h6></a></div>
    <div><a style="color:#696969; display: inline-block" href="/contact"><h6 class="container">Terms and Condtions</h6></a></div>
    <div><a style="color:#696969; display: inline-block" href="/contact"><h6 class="container">Contact Us</h6></a></div>
    
</div>
</div>


















  </body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
	</html>