<!DOCTYPE html>
<html>
<head>
	<title>SAM's Bakeology|Welcome</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="sam.css">
	<link rel="shortcut icon" href="/images/ICON.ico" />
</head>
<body>
    